<footer>
		<div class="container">
			<p>Для заказа свяжитесь с нами: <a class="phone" href="tel:+79814775580" title="Позвонить">+79814775580</a></p>
			<ul class="social">
				<li><a href="//www.instagram.com/snus39/" target="_blank" title="Instagram"><img src="img/social/instagram.svg" alt="Instagram"></a></li>
				<li><a href="//vk.com/id13137522" target="_blank" title="Вконтакте"><img src="img/social/vk.svg" alt="Вконтакте"></a></li>
				<li><a href="#" target="_blank" title="Telegram"><img src="img/social/telegram.svg" alt="Telegram"></a></li>
				<li><a href="viber://chat?number=+79814775580" target="_blank" title="Написать в Viber"><img src="img/social/viber.svg" alt="Viber"></a></li>
				<li><a href="href=//api.whatsapp.com/send?phone=79814775580&text=Привет" target="_blank" title="Написать в WhatsApp"><img src="img/social/whatsapp.svg" alt="WhatsApp"></a></li>
			</ul>
			<div class="bottom-line">
				<span>© Snus39.com {{ site.time | date: "%Y" }}</span>
				<span>Made in <a href="https://webs.com.ru/" target="_blank" rel="nofollow">Webs</a> <span class="heart">💙</span></span>
			</div>
		</div>
	</footer>

	<link rel="stylesheet" href="css/main.css">

</body>
</html>