<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{{ page.title-seo }}</title>
	<meta name="description" content="{{ page.descr }}">
	<meta name="keywords" content="{{ page.keywords }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/img/favicon/manifest.json">
	<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#00а0ff">
	<meta name="theme-color" content="#00а0ff">
	<meta name="apple-mobile-web-app-title" content="snus39.com">
	<meta name="application-name" content="snus39.com">

	<link rel="stylesheet" href="css/main.css">

	{% if page.url == '/'%}
		<link rel="amphtml" href="https://snus39.ru/snus-kaliningrad-kupit.html">
	{% endif %}

	{% if page.url == '/' or page.url == '/snus-kaliningrad.html' %}
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Organization",
			"name": "Snus39.com",
			"url": "https://snus39.com/",
			"telephone": "+79814775580",
			"alternateName": "Снюс купить",
			"description": "Продажа снюса в Калининграде с доставкой по всей России",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Калининград, Россия"
			}
		}
	</script>
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement":
			[
			{
				"@type": "ListItem",
				"position": 1,
				"item":
				{
					"@id": "https://snus39.com/epok-strong-mint.html",
					"name": "Epok"
				}
			},
			{
				"@type": "ListItem",
				"position": 2,
				"item":
				{
					"@id": "https://snus39.com/siberia-white-dry.html",
					"name": "Siberia"
				}
			},
			{
				"@type": "ListItem",
				"position": 3,
				"item":
				{
					"@id": "https://snus39.com/odens-cold-dry.html",
					"name": "Odens"
				}
			}
			]
		}
	</script>
	{% endif %}

	{% if page.url == '/snus-kaliningrad.html' %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Store",
			"image": [
			"https://snus39.com/img/kaliningrad/fast-food.jpg"
			],
			"name": "Snus39",
			"description": "Магазин снюса в Калининграде. Забрать снюс можно в Кафе быстрого питания Doner drive.",
			"openingHours": "Mo,Tu,We,Th,Fr,Sa,Su",
			"telephone": "+79814775580",
			"address":
			{
				"@type": "PostalAddress",
				"streetAddress": "улица. 9 Апреля 9/2",
				"addressLocality": "Калининград, Россия",
				"addressCountry": "RUS"
			}
		}
	</script>
	{% endif %}

	{% if page.layout == 'product-page' %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Product",
			"description": "{{ content | strip_html }}",
			"name": "{{ page.product-name }}",
			"image": "https://snus39.com{{ page.image }}",
			"offers": {
				"@type": "Offer",
				"availability": "http://schema.org/InStock",
				"price": "{{ page.price }}",
				"priceCurrency": "RUB"
			}
		}
	</script>
	{% endif %}
</head>