
{% include head.html %}
<body>
	{% include header.html %}
	<main>		
		<h1>Сайт недоступен</h1>
		<p>Заказать разработку сайта <a href="https://webs.com.ru/" target="_blank" rel="nofollow">Webs</a></p>
<!-- 		<section class="head-sect">
			<div class="container">
				<div class="row flex-center">
					<div class="col-lg-6">
						<a href="/odens-cold-dry.html"><img class="cover-img" src="img/Odens-Cold-Exteme-White-Dry-portion.png" alt="Купить снюс в Калининграде Odens"></a>
						<a href="/siberia-white-dry.html"><img class="cover-img" src="img/Siberia-White-Dry-portion.png" alt="Snus Siberia купить в Калининграде"></a>
					</div>
					<div class="col-lg-6">
						<h1>{{ page.title-h1 }}</h1>
						<p>Доставка по Калининграду и всей территории России.<br> Есть <a href="/snus-kaliningrad.html">две точки самовывоза</a>.<br><b>Акция! 10+1 (при покупке 10-ти банок, +1 в подарок)</b>.<br>Для заказа свяжитесь с нами.<br>Телефон: <a class="phone" href="tel:+79814775580" title="Позвонить">+79814775580</a></p>
						<ul class="social">
							<li><a href="//www.instagram.com/snus39/" target="_blank" title="Instagram"><img src="img/social/instagram.svg" alt="Instagram"></a></li>
							<li><a href="//vk.com/id13137522" target="_blank" title="Вконтакте"><img src="img/social/vk.svg" alt="Вконтакте"></a></li>
							<li><a href="viber://chat?number=+79520584228" target="_blank" title="Написать в Viber"><img src="img/social/viber.svg" alt="Viber"></a></li>
							<li><a href="//api.whatsapp.com/send?phone=79520584228&text=Привет" target="_blank" title="Написать в WhatsApp"><img src="img/social/whatsapp.svg" alt="WhatsApp"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section> -->
<!-- 		<section class="products">
			<div class="container">
				<h2>Каталог Снюса</h2>
				<div class="row">
					{% assign sorted_items = site.products | sort:"position" %}
					{% for product in sorted_items %}
					{% include item-product.html %}
					{% endfor %}
				</div>
			</div>
		</section> -->
<!-- 		<section class="photo-inst">
			<div class="container">
				<h2>Мы в Instagram</h2>
				<div class="row">
					<a href="//www.instagram.com/p/BGPv1xepR58/?taken-by=snus39" class="col-md-3 col-6" title="Перейти в Instagram" target="_blank"><img src="img/inst/odens-siberia-snus-kalinigrad.jpg" alt="Снюс Калининград ассортимент"></a>
					<a href="//www.instagram.com/p/Bkk8r1hABPM/?taken-by=snus39" class="col-md-3 col-6" title="Перейти в Instagram" target="_blank"><img src="img/inst/odens-snus-kalinigrad.jpg" alt="Odens Cold Dry Калининград"></a>
					<a href="//www.instagram.com/p/BTL2oOpB7xZ/?taken-by=snus39" class="col-md-3 col-6" title="Перейти в Instagram" target="_blank"><img src="img/inst/siberia-snus-kalinigrad.jpg" alt="Siberia snus Калининград"></a>
					<a href="//www.instagram.com/p/BM91GPBBIke/?taken-by=snus39" class="col-md-3 col-6" title="Перейти в Instagram" target="_blank"><img src="img/inst/snus-kalinigrad.jpg" alt="Снюс оптом Калининград"></a>
				</div>
				<a href="//www.instagram.com/snus39/" title="Перейти в Instagram" target="_blank">Перейти в профиль</a>
			</div>
		</section> -->
	</main>
	{% include footer.html %}