{% include head.html %}
<body>
	{% include header.html %}
		<main class="kalin">	
		
		<div class="container">
			<h1>Снюс Калининград</h1>
			<p>У нас есть две точки самовывоза. Так же возможна личная встреча. Если есть вопросы, свяжитесь с нами <a class="phone" href="tel:+79814775580" title="Позвонить">+79814775580</a></p>
			<div class="row">

				<div class="col-lg-6">
					<h2>1-ая точка</h2>
					<p class="lead">Кафе быстрого питания "Doner drive"</p>
					<p><em>Улица 9 Апреля 9/2</em> <a class="link-map" href="#map">смотреть на карте</a><br>
						Время работы: <em>круглосуточно</em></p>
						<img src="img/kaliningrad/fast-food.jpg" alt="Забрать снюс в кафе быстрого питания «Doner drive»">
						<span>Остановка напротив магазина "Мир ткани"</span>
						<img src="img/kaliningrad/fabrics.jpg" alt="Купить снюс в Калининграде возле «Мир ткани»">
						<div class="map">
							<h2 id="map">Snus39 на ул. 9 Апреля 9/2</h2>
							<script type="text/javascript" charset="utf-8" async src="//api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9898acd9aa872425300b3df317407e01e21b40a5ae276987fa4269b521cbe708&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
							<small><a href="//yandex.ua/maps/22/kaliningrad/?z=15&ll=20.52433443548588%2C54.716232545475854&l=map&source=jsapi_2_1_56&from=api-maps&um=constructor%3A9898acd9aa872425300b3df317407e01e21b40a5ae276987fa4269b521cbe708&utm_source=api-maps&utm_medium=localhost%3A3000&mode=usermaps">Открыть в яндекс картах, если карта не отображается</a></small>
						</div>
					</div>

					<div class="col-lg-6">
					<h2>2-ая точка</h2>
					<p class="lead">Кафе Денер</p>
					<p><em>Улица Портовая, 1в</em> <a class="link-map" href="#map2">смотреть на карте</a><br>
						Время работы: <em>с 10:00 до 24.00</em></p>
						<span>1 остановка от плазы Калининград.</span>
						<img src="img/kaliningrad/buy-snus-in-kaliningrad.jpeg" alt="Самовывоз снюса в кафе Денер">
						<div class="map">
							<h2 id="map2">Snus39 на ул. Портовой 1в</h2>
							<img src="img/kaliningrad/snus-kalinigrad-map.jpg" alt="Снюс Калининград на карте">
						</div>
					</div>

				</div>
			</div>

		</main>
		{% include footer.html %}