{% include head.html %}
<body>
	{% include header.html %}
	<main class="kalin">	
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Снюс Калининград</h1>
					<div class="text-lead">Забрать <strong>снюс в Калининграде</strong> можно по адресу:<br>
						<em>Улица 9 Апреля 9/2</em> <a class="link-map" href="#map">смотреть на карте</a><br>
						кафе быстрого питания: <em>"Doner drive"</em><br>
						Время работы: <em>круглосуточно</em><br>
						Телефон: <em><a class="phone" href="tel:+79814775580" title="Позвонить">+79814775580</a></em>
					</div>
				</div>
				<div class="col-lg-6">
					<section class="kalin-post">
						<h2>Снюс почтой по всей России</h2>
						<p class="text-lead">Также мы отправляем снюс почтой по всей территории России.<br>
							Для заказа свяжитесь с нами: <em><a class="phone" href="tel:+79814775580" title="Позвонить">+79814775580</a></em></p>
							<ul class="social">
								<li><a href="//www.instagram.com/snus39/" target="_blank" title="Instagram"><img src="img/social/instagram.svg" alt="Instagram"></a></li>
								<li><a href="//vk.com/id13137522" target="_blank" title="Вконтакте"><img src="img/social/vk.svg" alt="Вконтакте"></a></li>
								<!-- 			<li><a href="//t.me/" target="_blank" title="Telegram"><img src="img/social/telegram.svg" alt="Telegram"></a></li> -->
								<li><a href="viber://chat?number=+79520584228" target="_blank" title="Написать в Viber"><img src="img/social/viber.svg" alt="Viber"></a></li>
								<li><a href="//api.whatsapp.com/send?phone=79520584228&text=Привет" target="_blank" title="Написать в WhatsApp"><img src="img/social/whatsapp.svg" alt="WhatsApp"></a></li>
							</ul>
						</section>
					</div>
				</div>
				<div class="kalin-img">
					<div class="row">
						<div class="col-lg-6">
							<h2>Кафе быстрого питания "Doner drive"</h2>
							<img src="img/kaliningrad/fast-food.jpg" alt="Забрать снюс в кафе быстрого питания «Doner drive»">
						</div>
						<div class="col-lg-6">
							<h2>Остановка напротив магазина "Мир ткани"</h2>
							<img src="img/kaliningrad/fabrics.jpg" alt="Купить снюс в Калининграде возле «Мир ткани»">
						</div>
					</div>
				</div>
				<div class="map">
					<h2 id="map">На карте "Snus39"</h2>
					<script type="text/javascript" charset="utf-8" async src="//api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9898acd9aa872425300b3df317407e01e21b40a5ae276987fa4269b521cbe708&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=false"></script>
					<small><a href="//yandex.ua/maps/22/kaliningrad/?z=15&ll=20.52433443548588%2C54.716232545475854&l=map&source=jsapi_2_1_56&from=api-maps&um=constructor%3A9898acd9aa872425300b3df317407e01e21b40a5ae276987fa4269b521cbe708&utm_source=api-maps&utm_medium=localhost%3A3000&mode=usermaps">Открыть в яндекс картах, если карта не отображается</a></small>
				</div>
			</div>

		</main>
		{% include footer.html %}